.layout {
  color: var(--base-weak);
}

.header {
  display: flex;
  justify-content: space-around;

  width: 100%;

  background-color: var(--base-weak);
}

.menu {
  display: flex;

  margin-top: 2%;

  font-weight: 500;
}

.navbar {
  font-size: 16px;
}

.emblem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 600px;
}

.emblem-text {
  margin-top: 10%;
  margin-left: -2%;

  cursor: pointer;

  color: var(--base-strong);

  font-family: var(--font-family);

  font-size: 24px;
  font-weight: 600;
  font-style: normal;
}
