.container {
  display: flex;
  flex-direction: column;

  width: 75%;
  min-height: 48vh;
  margin-bottom: 4%;
  margin-left: 12%;
}

.news-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  margin-top: 4%;
}

.new-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;

  width: 28%;
  height: 250px;
}

.new-container-right-aligned {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;

  width: 26%;
  height: 270px;
  margin-left: 10%;
}

.title {
  font-size: 24px;
  font-weight: 400;
}

.title:hover {
  color: var(--accent-strong);

  font-size: 24px;
  font-weight: 400;
  text-decoration-line: underline;
}

.date {
  margin-top: 2%;

  color: var(--faint-strong);

  font-size: 14px;
}

.no-data {
  margin-top: 10%;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;

    width: 90%;
    min-height: 60vh;
    margin-bottom: 2%;
    margin-left: 5%;
  }

  .news-block {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: flex-start;

    margin-top: 4%;
  }

  .new-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    height: 250px;
  }

  .new-container-right-aligned {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    height: 270px;
    margin-left: 0;
  }

  .title {
    font-size: 24px;
    font-weight: 400;
  }

  .title:hover {
    color: var(--accent-strong);

    font-size: 24px;
    font-weight: 400;
    text-decoration-line: underline;
  }

  .date {
    margin-top: 2%;

    color: rgb(128 133 138 / 80%);

    font-size: 14px;
  }
}
