.container {
  width: 75%;
  min-height: 60vh;
  margin-left: 12%;
}

.no-data {
  margin-top: 10%;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  min-height: 45vh;
  margin-bottom: 4%;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 49%;
  height: 200px;

  margin-top: 2%;
  padding: 1%;

  border: 1px solid var(--faint-weak);
  border-radius: 20px;
}

.card:hover {
  cursor: pointer;
  transition: margin-left 130ms;
  transform-origin: left top;

  box-shadow: 2px 2px 2px 2px  rgb(0 0 0 / 40%);
}

.card-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  width: 66%;
}

.card-picture {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 5%;
}

.card-picture-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 180px;
  height: 180px;
  margin-top: -1%;
  margin-left: 7%;
}

.card-content-title {
  font-size: 24px;
  font-weight: 500;
}

.card-content-text {
  margin-top: 4%;

  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
    min-height: 70vh;
    margin-left: 5%;
  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 45vh;
    margin-bottom: 4%;
  }

  .no-data {
    margin-top: 50%;
  }

  .card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 100%;
    height: 200px;

    margin-top: 2%;
    padding: 1%;

    border: 1px solid var(--faint-weak);
    border-radius: 20px;
  }

  .card:hover {
    cursor: pointer;
    transition: margin-left 130ms;
    transform-origin: left top;

    box-shadow: 2px 2px 2px 2px  rgb(0 0 0 / 40%);
  }

  .card-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    width: 66%;

    margin-left: -10%;
  }

  .card-picture {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40%;

    margin-left: 4%;
  }

  .card-picture-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 180px;
    height: 150px;
    margin-top: 5%;
    margin-left: 4%;
  }

  .card-content-title {
    font-size: 24px;
    font-weight: 500;
  }

  .card-content-text {
    margin-top: 4%;

    font-size: 16px;
    font-weight: 400;
  }
}

@media (max-width: 1400px) and (min-width: 800px) {
  .container {
    width: 75%;
    margin-left: 12%;
  }

  .list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    min-height: 45vh;
    margin-bottom: 4%;
  }

  .no-data {
    margin-top: 20%;
  }

  .card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 49%;
    height: 200px;

    margin-top: 2%;
    padding: 1%;

    border: 1px solid var(--faint-weak);
    border-radius: 20px;
  }

  .card:hover {
    cursor: pointer;
    transition: margin-left 130ms;
    transform-origin: left top;

    box-shadow: 2px 2px 2px 2px  rgb(0 0 0 / 40%);
  }

  .card-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    width: 66%;
    margin-left: 5%;
  }

  .card-picture {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 8%;
  }

  .card-picture-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 160px;
    height: 150px;
    margin-top: 2%;
    margin-left: 2%;

    border-radius: 100px;
    background-color: var(--light-red);
  }

  .card-content-title {
    font-size: 24px;
    font-weight: 500;
  }

  .card-content-text {
    margin-top: 4%;

    font-size: 16px;
    font-weight: 400;
  }
}
