.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin-top: 2%;
}

.about-block-text {
  width: 30%;
  margin-left: -2%;
}

.about-block-chart {
  width: 30%;
}

.main-info {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;

  margin-top: 5%;
  margin-bottom: 5%;
}

.main-info-title {
  margin-left: 5%;
}

.cards {
  display: grid;

  justify-content: center;

  min-height: 552px;

  margin-right: 5%;

  margin-bottom: 5%;
  margin-left: 5%;

  grid-template:
    "news qa about"
    "news methodics about";
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.news {
  grid-area: news;
}

.qa {
  grid-area: qa;
}

.about {
  grid-area: about;
}

.text-title {
  font-size: 164px;
}

.extra-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 70%;
  height: 50px;
  margin-top: 2%;

  text-align: center;

  color: var(--base-weak);

  border-radius: 20px;

  background-color: var(--accent-strong);

  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
}

.extra-button:hover {
  cursor: pointer;

  background-color: var(--accent-strong-up);
}

.methodics {
  grid-area: methodics;
}

.news-card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;

  width: 100%;
  height: 100%;

  border-radius: 30px;

  background-color: var(--light-red);
}

.qa-card {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  height: 100%;

  border-radius: 30px;

  background-color: var(--light-yellow);
}

.qa-image {
  align-self: flex-end;

  height: 80%;
  margin-left: 50%;
}

.about-card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;

  width: 100%;
  height: 100%;

  border-radius: 30px;

  background: var(--light-green-grad);
}

.methodics-card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;

  width: 100%;
  height: 100%;

  border-radius: 30px;

  background-color: var(--light-blue);
}

.card-title {
  align-self: flex-end;

  vertical-align: top;
  letter-spacing: 0.02em;

  color: var(--base-weak);

  font-family: var(--font-family);
  font-size: 28px;
  line-height: 100%;
}

.card-small-text {
  color: var(--base-weak);

  font-size: 14px;
}

.card-big-text {
  color: var(--base-weak);

  font-size: 20px;
}
