.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.aboutBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin-top: 2%;
}

.aboutBlockText {
  width: 30%;
  margin-left: -2%;
}

.aboutBlockChart {
  width: 30%;
}

.mainInfo {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;

  margin-top: 5%;
  margin-bottom: 5%;
  /* margin-left: 12%; */
}

.mainInfo h1 {
  /* width: 100%; */
  margin-left: 5%;
}

.cards {
  /* width: 100%; */
  display: grid;

  grid-template:
    "news qa about"
    "news methodics about";
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  justify-content: center;

  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.news {
  grid-area: news;
}

.QA {
  grid-area: qa;
}

.about {
  grid-area: about;
}

.textTitle {
  font-size: 164px;
}

.extraButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 70%;
  height: 50px;
  margin-top: 2%;

  text-align: center;

  color: #FFF;

  border-radius: 20px;

  background-color: #44BBA8;

  font-family: Inter, serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
}

.extraButton:hover {
  cursor: pointer;

  background-color: #348376;
}

.methodics {
  grid-area: methodics;
}

.newsCard {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;

  width: 100%;
  height: 100%;

  border-radius: 30px;

  background-color: #F8A4A4;
}

.qaCard {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  height: 100%;

  border-radius: 30px;

  background-color: #F3E7BC;
}

.qaImage {
  align-self: flex-end;

  height: 80%;
  margin-left: 50%;
}

.aboutCard {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;

  width: 100%;
  height: 100%;

  border-radius: 30px;

  background: linear-gradient(89.05deg, #BEEEC3 12.31%, #44BBA8 100%, rgb(68 187 168 / 0%) 100%);
}

.methodicsCard {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;

  width: 100%;
  height: 100%;

  border-radius: 30px;

  background-color: #BED9EE;
}

.cardTitle {
  align-self: flex-end;

  vertical-align: top;
  letter-spacing: 0.02em;

  color: #FFF;

  font-family: Inter, serif;
  font-size: 28px;
  line-height: 100%;
}

.cardSmallText {
  color: #FFF;

  font-size: 14px;
}

.cardBigText {
  color: #FFF;

  font-size: 20px;
}
