.container {
  width: 75%;
  min-height: 50vh;
  margin-bottom: 4%;
  margin-left: 12%;
}

.block {
  display: flex;
  flex-direction: column;

  margin-top: 2%;
}

.title {
  font-family: Inter, serif;
  font-size: 20px;
  font-weight: 600;
}

.content {
  font-family: Inter, serif;

  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
}

.content:hover {
  cursor: pointer;

  color: #44BBA8;

  font-family: Inter, serif;

  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  text-decoration-line: underline;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
    min-height: 50vh;
    margin-bottom: 4%;
    margin-left: 5%;
  }

  .block {
    display: flex;
    flex-direction: column;

    margin-top: 2%;
  }

  .title {
    font-family: Inter, serif;
    font-size: 20px;
    font-weight: 600;
  }

  .content {
    font-family: Inter, serif;

    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
  }

  .content:hover {
    cursor: pointer;

    color: #44BBA8;

    font-family: Inter, serif;

    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    text-decoration-line: underline;
  }
}
