.container {
  width: 75%;
  margin-left: 12%;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 4%;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 40%;
  height: 200px;

  margin-top: 2%;

  border: 1px solid #E8E8E8;
  border-radius: 20px;
}

.card:hover {
  cursor: pointer;
  transition: margin-left 130ms;
  transform-origin: left top;

  box-shadow: 2px 2px 2px 2px  rgb(0 0 0 / 40%);
}

.card-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  margin-left: 8%;
}

.card-picture {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 8%;
}

.card-content-title {
  font-size: 24px;
  font-weight: 500;
}

.card-content-text {
  font-size: 16px;
  font-weight: 400;
}
